@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700|Source+Sans+Pro:300,400,600,700");
:root {
  --font-heading: "PT Sans", sans-serif;
}

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
}
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
button {
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
a {
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
/* Comoon */
.container {
  width: 1170px;
  font-family: "Source Sans Pro", sans-serif;
  margin-left: auto;
  margin-right: auto;
}
/* Top page */
.top-page {
  display: flex;
  min-height: 496px;
  background: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)),
    url(../assets/img/banner-10.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #ccc;
}
.top-page .inner {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.header {
  align-items: center;
  justify-content: space-between;

  min-height: 60px;
  /* background-color: #ccc; */
  margin-top: 40px;
  display: flex;
}
.header label[for="checkbox0"] {
  display: none;
}
.header .logo {
  height: 34px;
}
.header label[for="checkbox"] {
  display: none;
}
.nav .down {
  display: none;
}
/* menu da cap */
.header .nav .nav-menu {
  position: relative;
}

.nav .nav-menu .sub-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 32px;
  left: 0;
  width: 220px;
  background-color: #fff;
  scale: 1 0;
  z-index: 1;
  transform-origin: top left;
  transition: all 0.3s ease-in-out;
}
.header .nav .nav-menu:hover .sub-menu {
  scale: 1;
  visibility: visible;
  opacity: 1;
}
.nav .nav-menu .sub-menu a {
  font-family: "Source Sans Pro", sans-serif;
  display: block;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  padding: 0 0 0 25px;
  line-height: 45px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}
.nav .nav-menu .sub-menu a:hover {
  background-color: #b80257;
  color: #fff;
  padding-left: 29px;
}
/* menu search */
.user-action .action-btn {
  position: relative;
}
.user-action .action-btn form {
  top: 50px;
  right: 0;
  position: absolute;
  height: 55px;
  width: 280px;
  background-color: #fff;
  position: absolute;
  padding: 5px;
  visibility: hidden;
}
.user-action .action-btn form .menu-search input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid #adadad;
  padding: 0 50px 0 10px;
}
.user-action .action-btn form .menu-search .icon-search {
  width: 48px;
  color: #fff;
  background: #b80257;
  line-height: 45px;
  position: absolute;
  right: 5px;
}
.user-action .check-search:checked ~ form {
  visibility: visible;
}

.header .nav {
  display: flex;
}
.header .nav a {
  color: #ffffff;
  padding: 15px 25px;
  font-family: var(--font-heading);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.user-action .action-btn {
  padding: 14px 14px;
  color: #ffffff;
}
.hero h1 {
  font-size: 3.2rem;
  font-weight: bold;
  color: #fff;
}
.hero {
  flex-direction: column;
  flex-grow: 1;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .breadcrumbs {
  margin-top: 15px;
  opacity: 0.8;
}
.breadcrumbs ul li:first-child,
.breadcrumbs ul li:nth-child(2) {
  color: #fff;
  transition: color 0.3s ease;
}
.breadcrumbs ul li:first-child:hover,
.breadcrumbs ul li:nth-child(2):hover {
  color: #6820e0;
}

.breadcrumbs ul {
  display: flex;
}
.breadcrumbs ul li + li::before {
  padding: 0px 10px;
  content: "/";
}

/* Footer */
.footer {
  background: #151515;
  padding: 80px 0 160px 0;
}
.content-footer {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
.trademark p {
  color: rgba(255, 255, 255, 0.7);
  line-height: 2.2rem;
  margin: 20px 0;
}
.content-footer {
  gap: 50px;
  display: flex;
  color: rgba(255, 255, 255, 0.7);
}
.content-footer h2 {
  font-weight: bold;
  color: #ffffff;
  font-size: 2.2rem;
  margin: 8px 0px 25px;
}
.content-footer .trademark {
  width: 350px;
}
.list-footer {
  width: 200px;
  height: 205px;
}
.list-footer ul a {
  text-decoration: none;
  line-height: 30px;
}
.list-footer ul a:hover {
  color: #b90357;
  transition: 0.5s;
}
.sub form input {
  width: 100%;
  height: 40px;
  background: #272727;
  border: none;
  border-radius: 20px;
  padding: 0 20px;
  margin: 25px 0 10px 0;
  color: rgba(255, 255, 255, 0.6);
}
.sub button {
  position: relative;
  margin-top: 20px;
  width: 95px;
  height: 40px;
  border-radius: 20px;
  background-color: #b80257;
  color: #fff;
  line-height: 40px;
  font-weight: bold;
  overflow: hidden;
}
.sub .footer-btn span {
  position: relative;
  z-index: 1;
  color: #fff;
  transition: all 0.5s ease;
}

.sub button::after {
  content: "";
  position: absolute;
  border-radius: 20px;
  z-index: 0;
  inset: 0;
  scale: 0;
  background-color: #fff;
  color: #b80257;
  transition: all 0.5s ease;
}
.sub button:hover::after {
  scale: 1;
}

.sub button:hover span {
  color: #b80257;
}
div.up {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #fff;
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: #b80257;
  right: 5px;
  bottom: 5px;
}
/* Body */
.wrap-body {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  margin-bottom: 80px;
}
.wrap-body-1 {
  width: 25%;
}
.body-search {
  height: 45px;
  position: relative;
}
.body-search input {
  width: 100%;
  height: 100%;
  background: #eeeeee;
  border: none;
  padding: 0 102px 0 10px;
  font-style: italic;
  font-size: 15px;
  outline: none;
}
.body-search button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100px;
  color: #fff;
  background-color: #b80257;
}
.body-heading-2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  margin-top: 40px;
  margin-bottom: 30px;
}
.list-shop a {
  display: block;
  color: rgba(36, 34, 34, 0.7);
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 15px;
  transition: color 0.3s linear;
}
.list-shop a:hover {
  color: #b80257;
}
.wrap-body-1 .box {
  position: relative;
  margin-top: 20px;
}
.box a.box--text {
  text-decoration: none;
  color: #242222;
  position: absolute;
  font-size: 18px;
  top: 13px;
  left: 130px;
  transition: color 0.3s linear;
}
.box a.box--text:hover {
  color: #b80257;
}
.box .box--text2 {
  position: absolute;
  font-size: 18px;
  bottom: 9px;
  left: 131px;
  font-weight: bold;
}
.wrap-body {
  display: flex;
  gap: 30px;
}
.wrap-body-2 {
  width: 75%;
  position: relative;
}
.wrap-body-2 .select-filter {
  position: relative;
  width: 200px;
  height: 45px;
  border: 1px solid #e9e9e9;
  z-index: 1;
  cursor: pointer;
}
.select-filter span {
  font-size: 15px;
  line-height: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 80px;
  cursor: pointer;
}
.select-filter input[type="checkbox"]:checked ~ .list-select-filter {
  display: block;
}
.list-select-filter {
  position: absolute;
  border: 1px solid #e9e9e9;
  top: 43px;
  left: -1px;
  z-index: 1;
}
.list-select-filter li:first-child {
  background-color: #b80257;
  color: #fff;
}
.list-select-filter li:hover {
  background-color: #b80257;
  color: #fff;
}
.list-select-filter li {
  width: 198px;
  line-height: 45px;
  font-size: 16px;
  padding-left: 10px;
  background-color: #fff;
  transition: all 0.3s linear;
}
.list-select-filter li a {
  text-decoration: none;
}
.select-filter .down {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  cursor: pointer;
}
.body-2-p {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 45px;
  font-size: 18px;
}
.wrap-body-2-card {
  width: 100%;
  margin-top: 40px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.wrap-body-2-card .card {
  width: calc(33.333% - 20px);
  border: 1px solid #f0f0f3;
}
.wrap-body-2-card .card .wrap-img {
  width: 100%;
  overflow: hidden;
}
.wrap-body-2-card .card:hover img {
  scale: 1.1;
}
.wrap-body-2-card .card img {
  display: block;
  scale: 1;
  width: 100%;
  transition: scale 0.3s linear;
}
.wrap-body-2-card .card h3 {
  margin-top: 30px;
  text-align: center;
}
.wrap-body-2-card .card h3 a {
  text-decoration: none;
  font-size: 18px;
  color: #000;
  font-weight: 700;
}
.wrap-body-2-card .card strong {
  margin: 15px 0;
  font-weight: bold;
  display: block;
  font-size: 18px;
  text-align: center;
}
.wrap-body-2-card .card .wrap-button {
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: center;
}
.wrap-body-2-card .card a.button {
  width: 130px;
  text-decoration: none;
  padding: 10px 15px;
  height: 45px;
  color: #fff;
  border-radius: 25px;
  text-transform: uppercase;
  background-color: #b90357;
}
.wrap-body-2-card .card .wrap-button {
  translate: 0;
  transition: translate 0.3s linear;
}
.wrap-body-2-card .card .wrap-button:hover {
  translate: 0 -5px;
}
.wrap-body-2-card .card .wrap-button a.button {
  box-shadow: 1px 1px;
  transition: box-shadow 0.3s linear;
}
.wrap-body-2-card .card .wrap-button:hover a.button {
  box-shadow: 0px 31px 39px 0px #656565;
}
.wrap-page {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.wrap-page .page {
  width: 45px;
  height: 45px;
  background-color: #b80257;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s linear;
}
.wrap-page .page a {
  text-decoration: none;
  color: #fff;
  line-height: 45px;
}
.wrap-page .page:last-child {
  margin-left: 10px;
}
.wrap-page .page:hover {
  background-color: #6820e0;
}

/* end body */
/* Map */
.map {
  height: 500px;
  width: 100%;
  margin-bottom: 100px;
}

@media (max-width: 1199.98px) {
  /* head */
  .container {
    width: 970px;
  }
  .header .nav a {
    padding: 15px 19px;
  }
  /* Body */
  .wrap-body {
    width: 970px;
  }
  .wrap-body-1 {
    width: 33.3333333%;
  }
  .wrap-body-2 {
    width: 66.6666667%;
  }
  .wrap-body-2-card .card {
    width: calc(50% - 30px);
  }
  /* footer */
  .content-footer {
    width: 970px;
  }
}
@media (max-width: 991.98px) {
  /* head */
  .header {
    position: relative;
  }
  .header .nav {
    position: absolute;
    left: 0;
    top: 108px;
    flex-direction: column;
    width: 100%;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    scale: 1 0;
    transform-origin: top left;
    transition: all 0.3s linear;
  }
  .header > input[type="checkbox"]:checked ~ .nav {
    scale: 1;
    opacity: 1;
    visibility: visible;
  }
  .header .nav .nav-menu {
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    min-height: 0;
    transition: all 0.4s linear;
    border-bottom: 1px solid #606060;
    position: relative;
  }

  .nav .nav-menu .sub-menu {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    max-height: 0px;
    position: static;
  }
  .nav .nav-menu .sub-menu {
    position: static;
    visibility: hidden;
    z-index: 1;
    max-height: 0;
  }
  .nav-menu > input[type="checkbox"]:checked ~ .sub-menu {
    opacity: 1;
    visibility: visible;
    max-height: 320px;
    scale: 1;
  }

  .header > input[type="checkbox"]:checked ~ .nav .nav-menu {
    opacity: 1;
    visibility: visible;
    /* min-height: 45px; */
  }

  .container {
    width: 750px;
  }
  .header label[for="checkbox0"] {
    display: block;
    position: absolute;
    top: 69px;
    left: 0;
    /* line-height: 18px; */
    font-size: 27px;
    color: #fff;
  }
  .nav-menu .down {
    display: block;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 20px;
    border-left: 1px solid #606060;
  }

  .header .nav .nav-menu > a {
    line-height: 45px;
    padding: 13px 22px;
  }
  .nav .nav-menu .sub-menu a {
    max-height: 0;
  }
  .nav-menu > input[type="checkbox"]:checked ~ .sub-menu a {
    max-height: 45px;
  }
  .nav .nav-menu .sub-menu a:hover {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.6);
    /* padding: 0 0 0 25px; */
  }
  /* body */
  .wrap-body {
    width: 750px;
    flex-wrap: wrap;
    gap: 50px 0;
  }
  .wrap-body-2 {
    order: 1;
    width: 100%;
  }
  .wrap-body-1 {
    order: 2;
    width: 50%;
  }
  .wrap-body-2-card .card {
    width: calc(50% - 15px);
  }
  /* Footer */
  .content-footer {
    width: 750px;
    flex-wrap: wrap;
    gap: 47px 0px;
  }
  .content-footer .trademark {
    width: 50%;
  }
  .list-footer {
    width: 25%;
  }
  .content-footer .sub {
    flex-grow: 1;
    margin-left: 156px;
  }
  .card .card-1 {
    display: none;
  }
  .card .card-2 {
    margin-left: 15px;
    width: 720px;
    height: 620px;
  }
}
@media (max-width: 767.98px) {
  .top-page {
    min-height: 380px;
  }
  /* head */
  .container {
    width: 570px;
    padding: 0 10px;
  }
  /* body */
  .wrap-body {
    width: 570px;
    padding: 10px;
    margin-bottom: 120px;
  }
  .wrap-body-1 {
    width: 100%;
  }
  /* footer */
  .content-footer {
    width: 570px;
    padding: 0 10px;
  }
  .content-footer .trademark {
    width: 100%;
  }
  .list-footer {
    width: 100%;
  }
  .content-footer .sub {
    flex-grow: 1;
    margin-left: 0px;
  }
  .footer {
    padding: 80px 0;
  }
}
@media (max-width: 575.98px) {
  .container {
    width: 350px;
    padding: 0 10px;
  }
  .user-action .action-btn form {
    top: 50px;
    right: -34px;
  }
  /* body */
  .wrap-body {
    width: 350px;
  }
  .wrap-body-2-card .card {
    width: 100%;
  }
  .body-2-p {
    margin-top: 20px;
    position: static;
  }

  /* Footer */
  .content-footer {
    width: 350px;
    margin-bottom: 40px;
  }
}
